validadores/nfe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.portalfiscal.inf.br/nfe"
           xmlns="http://www.portalfiscal.inf.br/nfe"
           xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
           elementFormDefault="qualified">

    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>

    <xs:element name="nfeProc">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="NFe"/>
                <xs:element ref="protNFe"/>
            </xs:sequence>
            <xs:attribute name="versao" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="NFe">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="infNFe"/>
                <xs:element ref="ds:Signature"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="infNFe">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ide"/>
                <xs:element ref="emit"/>
                <xs:element ref="dest"/>
                <xs:element ref="entrega" minOccurs="0"/>
                <xs:element ref="det" maxOccurs="unbounded"/>
                <xs:element ref="total"/>
                <xs:element ref="transp"/>
                <xs:element ref="cobr" minOccurs="0"/>
                <xs:element ref="pag"/>
                <xs:element ref="infIntermed" minOccurs="0"/>
                <xs:element ref="infAdic" minOccurs="0"/>
                <xs:element ref="compra" minOccurs="0"/>
                <xs:element ref="infRespTec" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
            <xs:attribute name="versao" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="ide">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cUF" type="xs:string"/>
                <xs:element name="cNF" type="xs:string"/>
                <xs:element name="natOp" type="xs:string"/>
                <xs:element name="mod" type="xs:string"/>
                <xs:element name="serie" type="xs:string"/>
                <xs:element name="nNF" type="xs:string"/>
                <xs:element name="dhEmi" type="xs:string"/>
                <xs:element name="dhSaiEnt" type="xs:string" minOccurs="0"/>
                <xs:element name="tpNF" type="xs:string"/>
                <xs:element name="idDest" type="xs:string"/>
                <xs:element name="cMunFG" type="xs:string"/>
                <xs:element name="tpImp" type="xs:string"/>
                <xs:element name="tpEmis" type="xs:string"/>
                <xs:element name="cDV" type="xs:string"/>
                <xs:element name="tpAmb" type="xs:string"/>
                <xs:element name="finNFe" type="xs:string"/>
                <xs:element name="indFinal" type="xs:string"/>
                <xs:element name="indPres" type="xs:string"/>
                <xs:element name="indIntermed" type="xs:string" minOccurs="0"/>
                <xs:element name="procEmi" type="xs:string"/>
                <xs:element name="verProc" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="emit">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CNPJ" type="xs:string" minOccurs="0"/>
                <xs:element name="CPF" type="xs:string" minOccurs="0"/>
                <xs:element name="xNome" type="xs:string"/>
                <xs:element name="xFant" type="xs:string" minOccurs="0"/>
                <xs:element ref="enderEmit"/>
                <xs:element name="IE" type="xs:string" minOccurs="0"/>
                <xs:element name="IEST" type="xs:string" minOccurs="0"/>
                <xs:element name="CRT" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="dest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CNPJ" type="xs:string" minOccurs="0"/>
                <xs:element name="CPF" type="xs:string" minOccurs="0"/>
                <xs:element name="xNome" type="xs:string"/>
                <xs:element ref="enderDest"/>
                <xs:element name="indIEDest" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="TEndereco">
        <xs:sequence>
            <xs:element name="xLgr" type="xs:string"/>
            <xs:element name="nro" type="xs:string"/>
            <xs:element name="xCpl" type="xs:string" minOccurs="0"/>
            <xs:element name="xBairro" type="xs:string"/>
            <xs:element name="cMun" type="xs:string"/>
            <xs:element name="xMun" type="xs:string"/>
            <xs:element name="UF" type="xs:string"/>
            <xs:element name="CEP" type="xs:string" minOccurs="0"/>
            <xs:element name="cPais" type="xs:string"/>
            <xs:element name="xPais" type="xs:string" minOccurs="0"/>
            <xs:element name="fone" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="enderEmit" type="TEndereco"/>
    <xs:element name="enderDest" type="TEndereco"/>

    <xs:element name="entrega">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CNPJ" type="xs:string" minOccurs="0"/>
                <xs:element name="CPF" type="xs:string" minOccurs="0"/>
                <xs:element name="xNome" type="xs:string" minOccurs="0"/>
                <xs:element name="xLgr" type="xs:string" minOccurs="0"/>
                <xs:element name="nro" type="xs:string" minOccurs="0"/>
                <xs:element name="xCpl" type="xs:string" minOccurs="0"/>
                <xs:element name="xBairro" type="xs:string" minOccurs="0"/>
                <xs:element name="cMun" type="xs:string" minOccurs="0"/>
                <xs:element name="xMun" type="xs:string" minOccurs="0"/>
                <xs:element name="UF" type="xs:string" minOccurs="0"/>
                <xs:element name="CEP" type="xs:string" minOccurs="0"/>
                <xs:element name="cPais" type="xs:string" minOccurs="0"/>
                <xs:element name="xPais" type="xs:string" minOccurs="0"/>
                <xs:element name="fone" type="xs:string" minOccurs="0"/>
                <xs:element name="indIEDest" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="det">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="prod"/>
                <xs:element ref="imposto"/>
                <xs:element name="infAdProd" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="nItem" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="prod">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cProd" type="xs:string"/>
                <xs:element name="cEAN" type="xs:string" minOccurs="0"/>
                <xs:element name="xProd" type="xs:string"/>
                <xs:element name="NCM" type="xs:string"/>
                <xs:element name="CEST" type="xs:string" minOccurs="0"/>
                <xs:element name="EXTIPI" type="xs:string" minOccurs="0"/>
                <xs:element name="cBenef" type="xs:string" minOccurs="0"/>
                <xs:element name="CFOP" type="xs:string"/>
                <xs:element name="uCom" type="xs:string"/>
                <xs:element name="qCom" type="xs:string"/>
                <xs:element name="vUnCom" type="xs:string"/>
                <xs:element name="vProd" type="xs:string"/>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="vDesc" type="xs:string" minOccurs="0"/>
                    <xs:element name="cEANTrib" type="xs:string" minOccurs="0"/>
                    <xs:element name="uTrib" type="xs:string" minOccurs="0"/>
                    <xs:element name="qTrib" type="xs:string" minOccurs="0"/>
                    <xs:element name="vUnTrib" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:element name="indTot" type="xs:string"/>
                <xs:element name="xPed" type="xs:string" minOccurs="0"/>
                <xs:element name="nItemPed" type="xs:string" minOccurs="0"/>
                <xs:element name="nFCI" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="imposto">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="vTotTrib" type="xs:string" minOccurs="0"/>
                <xs:element ref="ICMS" minOccurs="0"/>
                <xs:element ref="IPI" minOccurs="0"/>
                <xs:element ref="PIS" minOccurs="0"/>
                <xs:element ref="COFINS" minOccurs="0"/>
                <xs:element ref="ICMSUFDest" minOccurs="0"/>
                <xs:element name="vBCUFDest" type="xs:string" minOccurs="0"/>
                <xs:element name="vBCFCPUFDest" type="xs:string" minOccurs="0"/>
                <xs:element name="pFCPUFDest" type="xs:string" minOccurs="0"/>
                <xs:element name="pICMSUFDest" type="xs:string" minOccurs="0"/>
                <xs:element name="pICMSInter" type="xs:string" minOccurs="0"/>
                <xs:element name="pICMSInterPart" type="xs:string" minOccurs="0"/>
                <xs:element name="vFCPUFDest" type="xs:string" minOccurs="0"/>
                <xs:element name="vICMSUFRemet" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ICMSUFDest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="vBCUFDest" type="xs:string"/>
                <xs:element name="vBCFCPUFDest" type="xs:string" minOccurs="0"/>
                <xs:element name="pFCPUFDest" type="xs:string" minOccurs="0"/>
                <xs:element name="pICMSUFDest" type="xs:string" minOccurs="0"/>
                <xs:element name="pICMSInter" type="xs:string" minOccurs="0"/>
                <xs:element name="pICMSInterPart" type="xs:string" minOccurs="0"/>
                <xs:element name="vFCPUFDest" type="xs:string" minOccurs="0"/>
                <xs:element name="vICMSUFDest" type="xs:string" minOccurs="0"/>
                <xs:element name="vICMSUFRemet" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ICMS">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="ICMS00" minOccurs="0"/>
                <xs:element ref="ICMS10" minOccurs="0"/>
                <xs:element ref="ICMS20" minOccurs="0"/>
                <xs:element ref="ICMS30" minOccurs="0"/>
                <xs:element ref="ICMS40" minOccurs="0"/>
                <xs:element ref="ICMS51" minOccurs="0"/>
                <xs:element ref="ICMS60" minOccurs="0"/>
                <xs:element ref="ICMS70" minOccurs="0"/>
                <xs:element ref="ICMS90" minOccurs="0"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:element name="orig" type="xs:string"/>
    <xs:element name="CST" type="xs:string"/>
    <xs:element name="modBC" type="xs:string"/>
    <xs:element name="vBC" type="xs:string"/>
    <xs:element name="pICMS" type="xs:string"/>
    <xs:element name="vICMS" type="xs:string"/>
    <xs:element name="pFCP" type="xs:string"/>
    <xs:element name="vFCP" type="xs:string"/>
    <xs:element name="vBCST" type="xs:string"/>
    <xs:element name="pST" type="xs:string"/>
    <xs:element name="vST" type="xs:string"/>
    <xs:element name="pRedBC" type="xs:string"/>
    <xs:element name="modBCST" type="xs:string"/>
    <xs:element name="pMVAST" type="xs:string"/>
    <xs:element name="pRedBCST" type="xs:string"/>
    <xs:element name="pICMSST" type="xs:string"/>
    <xs:element name="vICMSST" type="xs:string"/>
    <xs:element name="vBCSTRet" type="xs:string"/>
    <xs:element name="vICMSSTRet" type="xs:string"/>

    <xs:element name="ICMS00">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="orig"/>
                <xs:element ref="CST"/>
                <xs:element ref="modBC"/>
                <xs:element ref="vBC"/>
                <xs:element ref="pICMS"/>
                <xs:element ref="vICMS"/>
                <xs:element ref="pFCP" minOccurs="0"/>
                <xs:element ref="vFCP" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ICMS10">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="orig"/>
                <xs:element ref="CST"/>
                <xs:element ref="modBC"/>
                <xs:element ref="vBC"/>
                <xs:element ref="pICMS"/>
                <xs:element ref="vICMS"/>
                <xs:element ref="vBCST"/>
                <xs:element ref="pST"/>
                <xs:element ref="vST"/>
                <xs:element ref="pFCP" minOccurs="0"/>
                <xs:element ref="vFCP" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ICMS20">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="orig"/>
                <xs:element ref="CST"/>
                <xs:element ref="modBC"/>
                <xs:element ref="pRedBC"/>
                <xs:element ref="vBC"/>
                <xs:element ref="pICMS"/>
                <xs:element ref="vICMS"/>
                <xs:element ref="pFCP" minOccurs="0"/>
                <xs:element ref="vFCP" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ICMS30">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="orig"/>
                <xs:element ref="CST"/>
                <xs:element ref="modBCST"/>
                <xs:element ref="pMVAST"/>
                <xs:element ref="pRedBCST"/>
                <xs:element ref="vBCST"/>
                <xs:element ref="pICMSST"/>
                <xs:element ref="vICMSST"/>
                <xs:element ref="pFCP" minOccurs="0"/>
                <xs:element ref="vFCP" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ICMS40">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="orig"/>
                <xs:element ref="CST"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ICMS51">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="orig"/>
                <xs:element ref="CST"/>
                <xs:element ref="vBC"/>
                <xs:element ref="pICMS"/>
                <xs:element ref="vICMS"/>
                <xs:element ref="pFCP" minOccurs="0"/>
                <xs:element ref="vFCP" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ICMS60">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="orig"/>
                <xs:element ref="CST"/>
                <xs:element ref="vBCSTRet"/>
                <xs:element ref="vICMSSTRet"/>
                <xs:element ref="pFCP" minOccurs="0"/>
                <xs:element ref="vFCP" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ICMS70">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="orig"/>
                <xs:element ref="CST"/>
                <xs:element ref="modBC"/>
                <xs:element ref="vBC"/>
                <xs:element ref="pICMS"/>
                <xs:element ref="vICMS"/>
                <xs:element ref="modBCST"/>
                <xs:element ref="vBCST"/>
                <xs:element ref="pICMSST"/>
                <xs:element ref="vICMSST"/>
                <xs:element ref="pFCP" minOccurs="0"/>
                <xs:element ref="vFCP" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ICMS90">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="orig"/>
                <xs:element ref="CST"/>
                <xs:element ref="modBC"/>
                <xs:element ref="vBC"/>
                <xs:element ref="pICMS"/>
                <xs:element ref="vICMS"/>
                <xs:element ref="modBCST" minOccurs="0"/>
                <xs:element ref="vBCST" minOccurs="0"/>
                <xs:element ref="pICMSST" minOccurs="0"/>
                <xs:element ref="vICMSST" minOccurs="0"/>
                <xs:element ref="pFCP" minOccurs="0"/>
                <xs:element ref="vFCP" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="IPI">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cEnq" type="xs:string" minOccurs="0"/>
                <xs:element ref="IPINT" minOccurs="0"/>
                <xs:element ref="IPIPI" minOccurs="0"/>
                <xs:element ref="IPICRT" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="IPINT">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CST"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="IPIPI">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CST"/>
                <xs:element ref="vBC"/>
                <xs:element name="pIPI" type="xs:string"/>
                <xs:element name="vIPI" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="IPICRT">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CST"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="PIS">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="PISAliq" minOccurs="0"/>
                <xs:element ref="PISQtde" minOccurs="0"/>
                <xs:element ref="PISNT" minOccurs="0"/>
                <xs:element ref="PISOutr" minOccurs="0"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="PISAliq">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CST"/>
                <xs:element ref="vBC"/>
                <xs:element name="pPIS" type="xs:string"/>
                <xs:element name="vPIS" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PISQtde">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CST"/>
                <xs:element name="qBCProd" type="xs:string"/>
                <xs:element name="vAliqProd" type="xs:string"/>
                <xs:element name="vPIS" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PISNT">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CST"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PISOutr">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CST"/>
                <xs:element ref="vBC"/>
                <xs:element name="pPIS" type="xs:string"/>
                <xs:element name="vPIS" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="COFINS">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="COFINSAliq" minOccurs="0"/>
                <xs:element ref="COFINSQtde" minOccurs="0"/>
                <xs:element ref="COFINSNT" minOccurs="0"/>
                <xs:element ref="COFINSOutr" minOccurs="0"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="COFINSAliq">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CST"/>
                <xs:element ref="vBC"/>
                <xs:element name="pCOFINS" type="xs:string"/>
                <xs:element name="vCOFINS" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="COFINSQtde">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CST"/>
                <xs:element name="qBCProd" type="xs:string"/>
                <xs:element name="vAliqProd" type="xs:string"/>
                <xs:element name="vCOFINS" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="COFINSNT">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CST"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="COFINSOutr">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CST"/>
                <xs:element ref="vBC"/>
                <xs:element name="pCOFINS" type="xs:string"/>
                <xs:element name="vCOFINS" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="total">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ICMSTot"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ICMSTot">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="vBC"/>
                <xs:element ref="vICMS"/>
                <xs:element name="vICMSDeson" type="xs:string" minOccurs="0"/>
                <xs:element name="vFCPUFDest" type="xs:string" minOccurs="0"/>
                <xs:element name="vICMSUFDest" type="xs:string" minOccurs="0"/>
                <xs:element name="vICMSUFRemet" type="xs:string" minOccurs="0"/>
                <xs:element ref="vFCP" minOccurs="0"/>
                <xs:element ref="vBCST" minOccurs="0"/>
                <xs:element ref="vST" minOccurs="0"/>
                <xs:element name="vFCPST" type="xs:string" minOccurs="0"/>
                <xs:element name="vFCPSTRet" type="xs:string" minOccurs="0"/>
                <xs:element name="vProd" type="xs:string"/>
                <xs:element name="vFrete" type="xs:string" minOccurs="0"/>
                <xs:element name="vSeg" type="xs:string" minOccurs="0"/>
                <xs:element name="vDesc" type="xs:string" minOccurs="0"/>
                <xs:element name="vII" type="xs:string" minOccurs="0"/>
                <xs:element name="vIPI" type="xs:string" minOccurs="0"/>
                <xs:element name="vIPIDevol" type="xs:string" minOccurs="0"/>
                <xs:element name="vPIS" type="xs:string"/>
                <xs:element name="vCOFINS" type="xs:string"/>
                <xs:element name="vOutro" type="xs:string" minOccurs="0"/>
                <xs:element name="vNF" type="xs:string" minOccurs="0"/>
                <xs:element name="vTotTrib" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="transp">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="modFrete" type="xs:string"/>
                <xs:element ref="transporta" minOccurs="0"/>
                <xs:element ref="vol" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="transporta">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CNPJ" type="xs:string" minOccurs="0"/>
                <xs:element name="CPF" type="xs:string" minOccurs="0"/>
                <xs:element name="xNome" type="xs:string" minOccurs="0"/>
                <xs:element name="IE" type="xs:string" minOccurs="0"/>
                <xs:element name="xEnder" type="xs:string" minOccurs="0"/>
                <xs:element name="xMun" type="xs:string" minOccurs="0"/>
                <xs:element name="UF" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="vol">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="qVol" type="xs:string"/>
                <xs:element name="pesoL" type="xs:string"/>
                <xs:element name="pesoB" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="cobr">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="fat"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="fat">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nFat" type="xs:string"/>
                <xs:element name="vOrig" type="xs:string"/>
                <xs:element name="vDesc" type="xs:string" minOccurs="0"/>
                <xs:element name="vLiq" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="pag">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="detPag" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="detPag">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="indPag" type="xs:string" minOccurs="0"/>
                <xs:element name="tPag" type="xs:string"/>
                <xs:element name="xPag" type="xs:string" minOccurs="0"/>
                <xs:element name="vPag" type="xs:string"/>
                <xs:element ref="card" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="card">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tpIntegra" type="xs:string" minOccurs="0"/>
                <xs:element name="CNPJ" type="xs:string" minOccurs="0"/>
                <xs:element name="tBand" type="xs:string" minOccurs="0"/>
                <xs:element name="cAut" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="infAdic">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="infAdFisco" type="xs:string" minOccurs="0"/>
                <xs:element name="infCpl" type="xs:string" minOccurs="0"/>
                <xs:element ref="obsCont" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="obsCont">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="xTexto" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="xCampo" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="compra">
        <xs:complexType/>
    </xs:element>
    
    <xs:element name="infRespTec">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CNPJ" type="xs:string"/>
                <xs:element name="xContato" type="xs:string"/>
                <xs:element name="email" type="xs:string" minOccurs="0"/>
                <xs:element name="fone" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="infIntermed">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CNPJ" type="xs:string" minOccurs="0"/>
                <xs:element name="idCadIntTran" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="protNFe">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="infProt"/>
            </xs:sequence>
            <xs:attribute name="versao" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="infProt">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tpAmb" type="xs:string"/>
                <xs:element name="verAplic" type="xs:string"/>
                <xs:element name="chNFe" type="xs:string"/>
                <xs:element name="dhRecbto" type="xs:string"/>
                <xs:element name="nProt" type="xs:string"/>
                <xs:element name="digVal" type="xs:string"/>
                <xs:element name="cStat" type="xs:string"/>
                <xs:element name="xMotivo" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>