validadores/nfe.dtd

<!ELEMENT nfeProc (NFe, protNFe)>
<!ATTLIST nfeProc 
    xmlns CDATA #FIXED "http://www.portalfiscal.inf.br/nfe"
    versao CDATA #REQUIRED
>

<!ELEMENT NFe (infNFe, Signature)>
<!ELEMENT infNFe (ide, emit, dest, entrega?, det+, total, transp, cobr?, pag, infIntermed?, infAdic?, compra?, infRespTec?)>
<!ATTLIST infNFe 
    Id ID #REQUIRED
    versao CDATA #REQUIRED
>

<!ELEMENT ide (cUF, cNF, natOp, mod, serie, nNF, dhEmi, dhSaiEnt?, tpNF, idDest, cMunFG,
              tpImp, tpEmis, cDV, tpAmb, finNFe, indFinal, indPres, indIntermed?, procEmi, verProc)>
<!ELEMENT cUF (#PCDATA)>
<!ELEMENT cNF (#PCDATA)>
<!ELEMENT natOp (#PCDATA)>
<!ELEMENT mod (#PCDATA)>
<!ELEMENT serie (#PCDATA)>
<!ELEMENT nNF (#PCDATA)>
<!ELEMENT dhEmi (#PCDATA)>
<!ELEMENT dhSaiEnt (#PCDATA)>
<!ELEMENT tpNF (#PCDATA)>
<!ELEMENT idDest (#PCDATA)>
<!ELEMENT cMunFG (#PCDATA)>
<!ELEMENT tpImp (#PCDATA)>
<!ELEMENT tpEmis (#PCDATA)>
<!ELEMENT cDV (#PCDATA)>
<!ELEMENT tpAmb (#PCDATA)>
<!ELEMENT finNFe (#PCDATA)>
<!ELEMENT indFinal (#PCDATA)>
<!ELEMENT indPres (#PCDATA)>
<!ELEMENT indIntermed (#PCDATA)>
<!ELEMENT procEmi (#PCDATA)>
<!ELEMENT verProc (#PCDATA)>

<!ELEMENT emit (CNPJ?, CPF?, xNome, xFant?, enderEmit, IE?, IEST?, CRT)>
<!ELEMENT CNPJ (#PCDATA)>
<!ELEMENT CPF (#PCDATA)>
<!ELEMENT xNome (#PCDATA)>
<!ELEMENT xFant (#PCDATA)>
<!ELEMENT IE (#PCDATA)>
<!ELEMENT IEST (#PCDATA)>
<!ELEMENT CRT (#PCDATA)>

<!ELEMENT enderEmit (xLgr, nro, xCpl?, xBairro, cMun, xMun, UF, CEP?, cPais, xPais?, fone?)>
<!ELEMENT enderDest (xLgr, nro, xCpl?, xBairro, cMun, xMun, UF, CEP?, cPais, xPais?, fone?)>
<!ELEMENT xLgr (#PCDATA)>
<!ELEMENT nro (#PCDATA)>
<!ELEMENT xCpl (#PCDATA)>
<!ELEMENT xBairro (#PCDATA)>
<!ELEMENT cMun (#PCDATA)>
<!ELEMENT xMun (#PCDATA)>
<!ELEMENT UF (#PCDATA)>
<!ELEMENT CEP (#PCDATA)>
<!ELEMENT cPais (#PCDATA)>
<!ELEMENT xPais (#PCDATA)>
<!ELEMENT fone (#PCDATA)>

<!ELEMENT dest (CNPJ?, CPF?, xNome, enderDest, indIEDest)>
<!ELEMENT indIEDest (#PCDATA)>

<!ELEMENT entrega (CNPJ?, CPF?, xNome?, xLgr?, nro?, xCpl?, xBairro?, cMun?, xMun?, UF?, CEP?, cPais?, xPais?, fone?, indIEDest?)>

<!ELEMENT det (prod, imposto, infAdProd?)>
<!ATTLIST det nItem CDATA #REQUIRED>
<!ELEMENT infAdProd (#PCDATA)>

<!ELEMENT prod (cProd, cEAN?, xProd, NCM, CEST?, EXTIPI?, cBenef?, CFOP, uCom, qCom, vUnCom, vProd, (vDesc?, cEANTrib?, uTrib?, qTrib?, vUnTrib?)*, indTot, xPed?, nItemPed?, nFCI?)>

<!ELEMENT cProd (#PCDATA)>
<!ELEMENT cEAN (#PCDATA)>
<!ELEMENT xProd (#PCDATA)>
<!ELEMENT NCM (#PCDATA)>
<!ELEMENT EXTIPI (#PCDATA)>
<!ELEMENT CEST (#PCDATA)>
<!ELEMENT cBenef (#PCDATA)>
<!ELEMENT CFOP (#PCDATA)>
<!ELEMENT uCom (#PCDATA)>
<!ELEMENT qCom (#PCDATA)>
<!ELEMENT vUnCom (#PCDATA)>
<!ELEMENT vProd (#PCDATA)>
<!ELEMENT vDesc (#PCDATA)>
<!ELEMENT cEANTrib (#PCDATA)>
<!ELEMENT uTrib (#PCDATA)>
<!ELEMENT qTrib (#PCDATA)>
<!ELEMENT vUnTrib (#PCDATA)>
<!ELEMENT indTot (#PCDATA)>
<!ELEMENT xPed (#PCDATA)>
<!ELEMENT nItemPed (#PCDATA)>
<!ELEMENT nFCI (#PCDATA)>

<!ELEMENT imposto (vTotTrib?, ICMS?, IPI?, PIS?, COFINS?, ICMSUFDest?, vBCUFDest?, vBCFCPUFDest?, pFCPUFDest?, pICMSUFDest?, pICMSInter?, pICMSInterPart?, vFCPUFDest?, vICMSUFRemet?)>
<!ELEMENT vTotTrib (#PCDATA)>

<!ELEMENT pFCP (#PCDATA)>

<!ELEMENT ICMSUFDest (vBCUFDest, vBCFCPUFDest?, pFCPUFDest?, pICMSUFDest?, pICMSInter?, pICMSInterPart?, vFCPUFDest?, vICMSUFDest?, vICMSUFRemet?)>

<!ELEMENT vICMSUFDest (#PCDATA)>
<!ELEMENT vBCUFDest (#PCDATA)>
<!ELEMENT vBCFCPUFDest (#PCDATA)>
<!ELEMENT pFCPUFDest (#PCDATA)>
<!ELEMENT pICMSUFDest (#PCDATA)>
<!ELEMENT pICMSInter (#PCDATA)>
<!ELEMENT pICMSInterPart (#PCDATA)>
<!ELEMENT vFCPUFDest (#PCDATA)>
<!ELEMENT vICMSUFRemet (#PCDATA)>

<!ELEMENT ICMS (ICMS00?|ICMS10?|ICMS20?|ICMS30?|ICMS40?|ICMS51?|ICMS60?|ICMS70?|ICMS90?)>
<!ELEMENT ICMS00 (orig, CST, modBC, vBC, pICMS, vICMS, pFCP?, vFCP?)>
<!ELEMENT ICMS10 (orig, CST, modBC, vBC, pICMS, vICMS, vBCST, pST, vST, pFCP?, vFCP?)>
<!ELEMENT ICMS20 (orig, CST, modBC, pRedBC, vBC, pICMS, vICMS, pFCP?, vFCP?)>
<!ELEMENT ICMS30 (orig, CST, modBCST, pMVAST, pRedBCST, vBCST, pICMSST, vICMSST, pFCP?, vFCP?)>
<!ELEMENT ICMS40 (orig, CST)>
<!ELEMENT ICMS51 (orig, CST, vBC, pICMS, vICMS, pFCP?, vFCP?)>
<!ELEMENT ICMS60 (orig, CST, vBCSTRet, vICMSSTRet, pFCP?, vFCP?)>
<!ELEMENT ICMS70 (orig, CST, modBC, vBC, pICMS, vICMS, modBCST, vBCST, pICMSST, vICMSST, pFCP?, vFCP?)>
<!ELEMENT ICMS90 (orig, CST, modBC, vBC, pICMS, vICMS, modBCST?, vBCST?, pICMSST?, vICMSST?, pFCP?, vFCP?)>

<!ELEMENT vBC (#PCDATA)>
<!ELEMENT vICMS (#PCDATA)>
<!ELEMENT vBCST (#PCDATA)>
<!ELEMENT vST (#PCDATA)>
<!ELEMENT pICMS (#PCDATA)>
<!ELEMENT pST (#PCDATA)>
<!ELEMENT orig (#PCDATA)>
<!ELEMENT modBC (#PCDATA)>
<!ELEMENT modBCST (#PCDATA)>
<!ELEMENT pMVAST (#PCDATA)>
<!ELEMENT pRedBC (#PCDATA)>
<!ELEMENT pRedBCST (#PCDATA)>
<!ELEMENT vBCSTRet (#PCDATA)>
<!ELEMENT vICMSSTRet (#PCDATA)>
<!ELEMENT CST (#PCDATA)>

<!ELEMENT IPI (cEnq?, IPINT?, IPIPI?, IPICRT?)>
<!ELEMENT cEnq (#PCDATA)>
<!ELEMENT IPINT (CST)>
<!ELEMENT IPIPI (CST, vBC, pIPI, vIPI)>
<!ELEMENT IPICRT (CST)>
<!ELEMENT vIPI (#PCDATA)>

<!ELEMENT PIS (PISAliq?|PISQtde?|PISNT?|PISOutr?)>
<!ELEMENT PISAliq (CST, vBC, pPIS, vPIS)>
<!ELEMENT PISQtde (CST, qBCProd, vAliqProd, vPIS)>
<!ELEMENT PISNT (CST)>
<!ELEMENT PISOutr (CST, vBC, pPIS, vPIS)>
<!ELEMENT pPIS (#PCDATA)>
<!ELEMENT qBCProd (#PCDATA)>
<!ELEMENT vAliqProd (#PCDATA)>
<!ELEMENT vPIS (#PCDATA)>

<!ELEMENT COFINS (COFINSAliq?|COFINSQtde?|COFINSNT?|COFINSOutr?)>
<!ELEMENT COFINSAliq (CST, vBC, pCOFINS, vCOFINS)>
<!ELEMENT COFINSQtde (CST, qBCProd, vAliqProd, vCOFINS)>
<!ELEMENT COFINSNT (CST)>
<!ELEMENT COFINSOutr (CST, vBC, pCOFINS, vCOFINS)>
<!ELEMENT pCOFINS (#PCDATA)>
<!ELEMENT vCOFINS (#PCDATA)>

<!ELEMENT total (ICMSTot)>
<!ELEMENT ICMSTot (vBC, vICMS, vICMSDeson?, vFCPUFDest?, vICMSUFDest?, vICMSUFRemet?, vFCP?, vBCST?, vST?, vFCPST?, vFCPSTRet?, vProd, vFrete?, vSeg?, vDesc?, vII?, vIPI?, vIPIDevol?, vPIS, vCOFINS, vOutro?, vNF, vTotTrib?)>
<!ELEMENT vICMSDeson (#PCDATA)>
<!ELEMENT vFCP (#PCDATA)>
<!ELEMENT vFCPST (#PCDATA)>
<!ELEMENT vFCPSTRet (#PCDATA)>
<!ELEMENT vFrete (#PCDATA)>
<!ELEMENT vSeg (#PCDATA)>
<!ELEMENT vII (#PCDATA)>
<!ELEMENT vIPIDevol (#PCDATA)>
<!ELEMENT vOutro (#PCDATA)>
<!ELEMENT vNF (#PCDATA)>

<!ELEMENT transp (modFrete, transporta?, vol?)>
<!ELEMENT modFrete (#PCDATA)>
<!ELEMENT transporta (CNPJ?, CPF?, xNome?, IE?, xEnder?, xMun?, UF?)>
<!ELEMENT xEnder (#PCDATA)>
<!ELEMENT vol (qVol, pesoL, pesoB)>
<!ELEMENT qVol (#PCDATA)>
<!ELEMENT pesoL (#PCDATA)>
<!ELEMENT pesoB (#PCDATA)>

<!ELEMENT cobr (fat)>
<!ELEMENT fat (nFat, vOrig, vDesc?, vLiq)>
<!ELEMENT nFat (#PCDATA)>
<!ELEMENT vOrig (#PCDATA)>
<!ELEMENT vLiq (#PCDATA)>

<!ELEMENT pag (detPag+)>
<!ELEMENT detPag (indPag?, tPag, xPag?, vPag, card?)>
<!ELEMENT indPag (#PCDATA)>
<!ELEMENT tPag (#PCDATA)>
<!ELEMENT xPag (#PCDATA)>
<!ELEMENT vPag (#PCDATA)>
<!ELEMENT card (tpIntegra?, CNPJ?, tBand?, cAut?)>
<!ELEMENT tpIntegra (#PCDATA)>
<!ELEMENT tBand (#PCDATA)>
<!ELEMENT cAut (#PCDATA)>

<!ELEMENT infAdic (infAdFisco?, infCpl?, obsCont*)>
<!ELEMENT infAdFisco (#PCDATA)>
<!ELEMENT infCpl (#PCDATA)>
<!ELEMENT obsCont (xTexto)>
<!ELEMENT xTexto (#PCDATA)>
<!ATTLIST obsCont xCampo CDATA #IMPLIED>

<!ELEMENT compra EMPTY>

<!ELEMENT infRespTec (CNPJ, xContato, email?, fone?)>
<!ELEMENT xContato (#PCDATA)>
<!ELEMENT email (#PCDATA)>

<!ELEMENT infIntermed (CNPJ?, idCadIntTran?)>
<!ELEMENT idCadIntTran (#PCDATA)>

<!ELEMENT protNFe (infProt)>
<!ATTLIST protNFe versao CDATA #REQUIRED>
<!ELEMENT infProt (tpAmb, verAplic, chNFe, dhRecbto, nProt, digVal, cStat, xMotivo)>
<!ELEMENT verAplic (#PCDATA)>
<!ELEMENT chNFe (#PCDATA)>
<!ELEMENT dhRecbto (#PCDATA)>
<!ELEMENT nProt (#PCDATA)>
<!ELEMENT digVal (#PCDATA)>
<!ELEMENT cStat (#PCDATA)>
<!ELEMENT xMotivo (#PCDATA)>

<!ELEMENT Signature (SignedInfo, SignatureValue, KeyInfo)>
<!ATTLIST Signature xmlns CDATA #FIXED "http://www.w3.org/2000/09/xmldsig#">
<!ELEMENT SignedInfo (CanonicalizationMethod, SignatureMethod, Reference)>
<!ELEMENT CanonicalizationMethod EMPTY>
<!ATTLIST CanonicalizationMethod Algorithm CDATA #REQUIRED>
<!ELEMENT SignatureMethod EMPTY>
<!ATTLIST SignatureMethod Algorithm CDATA #REQUIRED>
<!ELEMENT Reference (Transforms, DigestMethod, DigestValue)>
<!ATTLIST Reference URI CDATA #REQUIRED>
<!ELEMENT Transforms (Transform+)>
<!ELEMENT Transform EMPTY>
<!ATTLIST Transform Algorithm CDATA #REQUIRED>
<!ELEMENT DigestMethod EMPTY>
<!ATTLIST DigestMethod Algorithm CDATA #REQUIRED>
<!ELEMENT DigestValue (#PCDATA)>
<!ELEMENT SignatureValue (#PCDATA)>
<!ELEMENT KeyInfo (X509Data)>
<!ELEMENT X509Data (X509Certificate)>
<!ELEMENT X509Certificate (#PCDATA)>
